body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

head {
  text-align: center;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  border: 2px solid orange;
  padding: 10px 20px;
}

.dynamic:hover {
  cursor: pointer;
  font-size: 200%;
  color: blue;
}

section {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
  padding: 10px;
}
